@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Global */ 

* {
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Amiri', sans-serif;
    background-color: #400F0F;
}

/* Header */

.fundo-header {
    height: 330px;
    background-image: url(../imagens/fundo1200.jpg);
    background-position: center;
}

.logo {
    float: left;
}

.logo img {
    width: 60px;
    margin: 50px 0px 0px 50px;
    position: absolute;
    cursor: pointer;
}

.titulos-header {
    width: 100%;
    height: 100px;
    padding-top: 80px;
}

#titulo-p {
    color: white;
    text-align: center;
    font-size: 26px;
    font-family: 'Cinzel', sans-serif;
    cursor: pointer;
}

#subtitulo {
    color: white;
    font-family: 'Cinzel', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    background-color: #403116d0;
}

.menu ul li {
    float: left;
    padding: 10px;
    margin: 0 auto;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 10px;
}

.menu ul li a:hover {
    background-color: white;
    color: #403116d0;
}
/* Main */

.conteudo {
    background-color: #ffffff04;
    margin: auto;
    height: 100%;
    width: 90%;
    padding: 20px;
    padding-bottom: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.240);
    border-left: 1px solid rgba(0, 0, 0, 0.240);
    box-shadow: 5px 5px 10px black;
    font-family: 'Montserrat', sans-serif;
    
}

.coluna-primeira{
    float: left;
    width: 25%;
    margin-top: 50px;
}

.coluna-segunda{
    background-color: #E7E7E7;
    background: url(../imagens/background.jpg);
    float: right;
    width: 60%;
    margin-top: 50px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    height: 411px;
}

.telefone, .email, .facebook, .instagram {
    margin: 0px 10px 19px 0px;
    background-color: #E7E7E7;
    background: url(../imagens/background.jpg);
    padding: 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
}

.telefone img, .email img, .facebook img, .instagram img {
    float: left;
}


.telefone p, .email p, .facebook p, .instagram p {
    text-align: center;
    
}

.titulo-contato {
    font-weight: bold;
    margin-bottom: 10px;
}

.facebook a, .instagram a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
} 

footer{
    clear: both;
}

.coluna-segunda h2 {
    text-align: center;
    font-weight: bolder;
}

.coluna-segunda img {
    float: left;
    width: 50px;
    margin: 20px 250px 20px 250px;
    display: flex;
    justify-content: center;
}

input {
    padding: 10px;
    margin: 10px;
    text-indent: 10px;
    font-size: 10px;
}

.escreva {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.button {
    margin: 0 auto;
    padding: 10px;
}

button {
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    display: block;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 5px;
    background-image: linear-gradient( to bottom, #8C2A2A, #D94141);
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #401313e1;
    background-image: none;
}